* {
	margin: 0;
	padding: 0;
}

/* clear fix */
.group:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

/* main css */

body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #ffffff;
}

h1 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	color: #222222;
	margin: 0;
}

p {
	font-size: 16px;
	color: #222222;
	margin: 0;
}

/*.blue {
	background-color: #6dcff6;
}

.red {
	background-color: red;
}*/

#wrap {
	width: 100%;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, .95);
    border-bottom: 1px solid #6dcff6;
    text-transform: uppercase;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #222;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #222;
}

.container-fluid {
	padding: 0;
}

.container-fluid>.navbar-header, .navbar-nav {
	padding: 10px 40px;
	margin: 0;
}

.navbar-brand img {
	max-height: 50px;
}

.navbar-collapse {
	padding: 0;
}

.navbar>.container-fluid .navbar-brand, .container-fluid>.navbar-collapse {
	padding: 0;
	margin: 0;
}

.navbar-toggle {
	margin-right:0;
}

.navbar-nav {
	margin: 0;
	text-align: center;
	font-size: 16px;
}

.navbar-toggle {
    border: none;
    border-radius: 0px;
}

#main-content, a:target {
	margin-top: 70px;
}

.page-content {
	width: 100%;
}

.description {
	padding: 20px 40px;
}

img.portfolio {
	float: left;
	width: 100%;


}

a img.portfolio {
	border: none;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.nopadding {
	padding: 0;
	margin: 0;
}

a:hover img.portfolio {
	opacity: .7;
}

a:hover, a:active, a:focus, button:hover, button:active, button:focus {
	outline: 0;
}

#footer {
	margin: 20px 0 0 0;
	padding: 20px;
	background-color: #222222;
}

#footer p {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.anchor {
	margin-top: -70px;
	height: 70px;
}

@media only screen and (max-device-width: 768px), (max-width: 768px) {
	.navbar-collapse .nav>li>a {
		padding: 5px 0;
	}

	.navbar-default .navbar-collapse{
		margin-top:5px;
		border-top: 1px solid #6dcff6;
	}

	.container-fluid>.navbar-header {
		padding: 10px;
	}

}


